
 
       .not-active{
         user-select: none; // chrome and Opera
      }
 
::selection {
    background-color: transparent !important;
}

 
::-moz-selection {
    background-color: transparent !important;
}

* {
    cursor: default;
}

:hover {
    cursor: pointer;
}

 
	body 
	{
		font-family: Consolas, monospace;
		font-size: 20px;
		color: white;
		background-color: black;
		width:100%;
		height:100%;

	}
	
*:not([class]) {
    
    
}

  .transparent-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(055, 255, 255, 0.00); 
            z-index: 9999999; 
            pointer-events: none; 
        }

	
    .custom-cursor {
      position: fixed;
      width: 20px;
      height: 20px;
      background-color: orange;
      border: 2px solid white;
      border-radius: 50%;
      mix-blend-mode: difference; 
      pointer-events: none; 
      transform: translate(-50%, -50%); 
      transition: transform 0.2s ease-out; 
	   z-index: 88000;
	   
	}

    
    .custom-cursor:hover {
      transform: translate(-50%, -50%) scale(1.5); 
    }	
		
		
	#fileInput {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.custom-file-upload:hover {
  background-color: #45a049;
}	
		
		
	.ultra
	{

	  font-size:25px;
	  font-weight: bold;
	}
	
	.selek
	{
	  background-color:#151515;
	  color:#ff3005;	
	  font-size:20px;	
	  outline:none;
	  border-radius:6px;
	}
	
  selek:hover option:checked {
  background-color: #FF4400; 
  color: #000; 
}
	
.btt1 {
  display: inline-block;  
  
  color: #fff; 
  background-color: #777; 
  transition: background-color 0.3s ease; 
  border-radius:8px;
  padding:2px;
  font-weight:bold;
  
   margin: 0 10px; 
   margin-top:2px;
}

.btt1:hover {
  background-color:#FF4400; 
   
}

.btt2 {
  background-color: #BBB;
  }
  
  .btt4:hover {
  color:#F40; 
   
}

.field1 {
  display: inline-block; 
  margin: 0 10px; 
  color: #333; 
  background-color: #888; 
  transition: background-color 0.5s ease; 
  border-radius:8px;
  padding:0px;
  font-size:18px;
	font-weight: bold;
	  outline: none;
	   autocomplete="off" required>
}

.field1:hover {
  background-color:#BBB; 
   
}

.barman
{

padding:6px;

}
.reltx
 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}
 
.balle {
    position:relative;
   
}

 
.ccmon {
    position:absolute;
	
	bottom:0%;
	left:0;
	width:100%;
	height:80%;
	border-radius:4px;
	background:lightGreen;
	opacity:0.62;
   mix-blend-mode: difference;
}

.underbend {
    position:absolute;
	
	
	bottom: 50%;
	left:0;
	width:100%;
	height:0%;
	border-radius:6px;
	background:gold;
	opacity:0.82;
      mix-blend-mode: exclusion; 
   
}

 
.ball {
  position: relative; 
  background: #FFF;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  padding-left: 2px;
  padding-right: 2px;
  border: 5px solid #888;
  border-radius: 12px;
  
  
  
  overflow: hidden;
  user-select: none;
  clear: both;   
  

}

.undercc
{
	
	position: relative;
	z-index:20;
}

.bartran
{

	    
   z-index :-8888;
 display:block;
	   position:absolute;  
    background:gold;	   
	bottom:0;
	left:-20px;
	width:4px;
	height:100%;
}

.barloop
{
	   z-index :-8988;
 display:none;
	   position:absolute;  
      
	bottom:0;
	left:120px;
	width:300px;
	height:100%;
	
    background: linear-gradient(to bottom right, rgba(255, 10, 0, 0.2), rgba(235, 0, 10, 0.15)); 
    border-left: 2px solid rgba(255, 192, 203, 0.5); 
    border-right: 2px solid rgba(255, 192, 203, 0.5); 

}

.canv
{

	  
     z-index :- 9999;
     display:block;
	 position:absolute;   
	bottom:0;
	left:0;
	width:calc(100% - 2px);
	height:100%;
	opacity:0.85;

}

.ball3
{
display: inline-block;
  background: #000;
  color:white;
  font-weight:bold;
  font-size:16px;
  padding:4px;
  padding-left:4px; 
  padding-right:4px; 
  margin-left:3px; 
  margin-right:3px;
  
  border: 3px solid #FFffff;
  border-radius:5px;

  
  
   user-select: none;

}

.ball4
{
  display: inline-block;
  background: #000;
  color:white;
  font-weight:bold;
  font-size:15px;
  padding:4px;
  padding-left:4px; 
  padding-right:4px; 
  margin-left:8px; 
  margin-right:4px;
  
  border: 3px solid #FFffff;
  border-radius:5px;

   background: linear-gradient(to bottom, #ff4400 40%, orange 60%); 
  
   user-select: none;

}

	
  .v-bar 
  {
  width: 200px;
  height: calc(100% - 56px);
  overflow: auto;
  background-color: #222;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  }

.v-bar::-webkit-scrollbar {
  width: 8px;
}

.v-bar::-webkit-scrollbar-thumb {
  background-color: black;
}

 
::-webkit-scrollbar {
  width: 12px; 
   height: 12px;
  background-color: #000; 
}

 
::-webkit-scrollbar-button:start {
  background-color: #FF4400; 
}

 
::-webkit-scrollbar-button:end {
  background-color: #FF4400; 
}

 
::-webkit-scrollbar-track {
  background-color: #000; 
}

::-webkit-scrollbar-thumb {
  background-color: #FF4400; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FF4400; 
}

.skal
{

	 display: inline-block;
    margin: 10px;
	background-color: #Fdb;
	color: #FF4400;
	border-radius:4px;
	padding:2px;	
	padding:4px;

}

.orange-slider {
  -webkit-appearance: none;
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background: rgba(255, 68, 0, 0.69); 
  outline: none;
}

.orange-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.orange-slider::-moz-range-thumb {
  width: 15px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.orange-slider::-ms-thumb {
  width: 15px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.orange-slider:focus {
  outline: none;
}

    .main-container {
      display: flex;
      flex-direction: line;
    }

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .element {
      width: 30px;
      height: 30px;
	  border-radius:8px;
      background-color: orange;
      margin-right: 10px;
      padding: 10px;
      cursor: pointer;
    }

    .checkbox {
      margin-right: 10px;
    }

    .numeric-input {
      width: 40px;
    }
	
	input[type='number']{
    width: 52px;
	
} 

#cont{
padding:0px;
width:100%;

left:0px;
}

        #consoleOutput {
            position: fixed;
            bottom: 0;
            left: 0;
            max-height: 75%;
			font-size:12px;
            width: 100%;
            overflow-y: auto; 
            background-color: #000; 
			color:white;
            padding: 10px;  
        }

.outline-text {
    color: black; 
    text-shadow: 
        -1px -1px 0 #FF9550,  
         1px -1px 0 #FF5510,
        -1px  1px 0 #FF5510,
         1px  1px 0 #FF5510;  
		 
   user-select: none; 
    cursor: default; 
 
    pointer-events: auto;
}

.radio
{

	width:35px;
	height:35px;
	
	color:orange;
	
}

.bar
{
	 background: repeating-radial-gradient(
	  circle,
	  #FF4400,
	  #FF4400 10px,
	  #dd66dd 10px,
	  #d86d00 20px
	);
	opacity:0.0;
}

.num
{
	
	font-weight:bold;
	color:#FF4400;
	font-size:17px;
	background:none;
	border:none;
	outline:none;
	
	
}

    
    
    

    

 
#installBtn
{

    background:white;
    color:#FF4400;

}
 
 .listitem
 {
    background:black;
    color:#FF4400;

 }
  .listitem:hover
 {
    background:#252525;
    color:#FF4400;

 }
 
hr {
  border: 0;              
  height: 1px;            
  background-color: #FF4400; 
}
 

  .flipped-video {
    transform: scaleX(-1);
  }
  
    
  #zz
  {

  
  }
  
  
  .container
  {
  
      position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  
  }
  

  #soundbar {
    display: inline-block;  
    color: #111; 
    
 
    border-radius: 8px;
    padding: 2px;
    
    margin-top: 4px;   
  }

.btx
{

display: inline-block; padding: 5px 10px; 
margin: 5px; background-color: #ff4400; color: white; cursor: pointer; 
 

}

.box1
{
outline:none;
}

.check 
{
 
  BACKGROUND:#888;
  color:white;
  display: inline-block; 
 padding-left:5px;
 padding-right:5px;
 
 border-radius:5px;
 
   cursor: pointer;
   margin-top:4px;
   margin-left:4px;
}

.check:hover
{
 
  BACKGROUND:#777;
  
 }

  table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      border: 0px solid #ddd;
      position: relative; 
    }
    .levelline {
 
      position: absolute;
      height: 4px;
  border:solid  linear-gradient(135deg, #3a3a3a 0%, #8c8cac 50%, #c0c0c0 100%) 1px;
      background:#0078D4;
      width: 95%; 
      top: 50%; 
      left: 0; 
      transform: translateY(-50%); 
    }

 
::-webkit-scrollbar {
    width: 10px;
height:10px;
}

::-webkit-scrollbar-track {
    background: rgba(15, 15, 15, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF4400;
    border-radius: 10px;
    border: 3px solid rgba( 255, 68, 0, 1);

}
 
.btnPlus {
    position: fixed;  
    bottom: -8px;  
    left: 14px;  
    transform: translateX(-50%);  
    
    display: inline-block;
    padding: 4px 4px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: solid #FF4400 2px;
    background: #FF4400;
    border-radius: 0% 50% 0% 0%;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px; 
}

 .mytracks {
    position: fixed;
    left:0px;
    top: 40px;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: calc(100% - 45px); 
    overflow-x: hidden; 
    overflow-y: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background: #111; 
    padding-bottom:100px; 
 
 

}

    
    
    
    

    
    
    
 

    
    
    
    
    

.target {
  border: 0px solid #FF4400;
  border-radius: 2px;
  padding-inline:8px; 
  margin-bottom:5px;
  margin-top:15px;
  margin-right:8px;
  position: relative; 
  overflow: visible; 
  
}

. -label {
  position: absolute;
  top: -15px; 
  left: 0;
  width: 100%;
  
  margin-left:2px;
  margin-right:2px;  
 
  font-size: 10px;
  color:#FFF;
  text-shadow:  2px 2px 2px #000000;
  text-align: center;
  pointer-events: none; 
  
}

.target-synth {
  position: absolute;
  top: -40px; 
  left: 10px;
  width: 100%;
color:#111;
font-weight:bold;

font-size:15px;
width:auto;
 
height:auto;
text-shadow:  2px 2px 2px #eee;
}

.target-label
{

position:absolute;
 
top:0px;
color:#111;
font-weight:bold;

font-size:15px;
width:auto;

height:auto;
text-shadow:  2px 2px 2px #eee;

}

.target-label2
{

position:absolute;
 
top:0px;
color:#111;
font-weight:bold;

font-size:15px;
width:auto;

max-width:50px;
height:17px;
overflow:hidden;

height:auto;
text-shadow:  2px 2px 2px #eee;

}
 

.targetVol
{
border: 0px solid #FF4400; 
border-radius: 5px;    
overflow: hidden;  
margin-left:24px;
margin-right:5px;
margin-top:10px;
min-width:15px;
}

.numTrack
{
position:absolute;
top:5px; left:22px;

color:white;
background:#FF4400;
font-size:16px;
padding:0px 4px;
margin-top:0px;
border: 2px solid #FF4400; 
border-radius: 5px;    
overflow: hidden;  
}

#mysplash
{

position:fixed; top:0; left:0;
   z-index:99125;
  display: block;
  color:white;
  width:100%; height:100%; background:black;
  background-repeat: no-repeat;
    background-attachment: fixed;
 background-image: url('alienlogo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#menuSynth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 90,90,90,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuFX {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 90,90,90,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menutone {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding:30px;
  border-radius:15px;
  background:black;
  max-height:calc(100% - 150px);
    overflow-x:hidden;  
    overflow-y:auto;
}

.menutoneitem {

   font-weight:normal;
   font-size:18px;
  padding:6px;
  color: #FF4400;
  background-color: #333;
  border-radius: 4px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.menutoneitem:hover {
  background-color: #555;
}

#plustrack
{

z-index:90;

}

.piano
{

position:fixed;
left:0px;
bottom:0;
width:calc(100% - 24px);
width:100%;
height:110px;
padding:0;
padding-top:5px;
padding-bottom:5px;
text-align:center;
display:none;

z-index:80;

  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  pointer-events: auto;
}

#piano.hidden {
  opacity: 1;
  pointer-events: none;
  transition: opacity 1.5s ease-in-out;
}

.onetrack {
    
    
width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: linear-gradient(135deg, #3a3a3a 0%, #8c8cac 50%, #c0c0c0 100%);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;

min-height: 172px;   
    max-height: 172px; 
padding-right:40px;
    height:172px;
}

.trackosc
{
display: flex;
    align-items: center;
    position: relative;
    height: 100%;

   gap: 8px; 
   
  margin-right:6px;
  
}

.btnPlusTone {
    position: absolute;  
    right: 0px;  
    bottom: 0px;  
    padding: 4px 8px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: solid #FF4400 2px;
    background: #FF4400;
    border-radius: 20px 0px 0px 0px;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    z-index: 10;

}

 
 
.btnChangeTone {
    position: absolute;  
    right: 0px;  
    top: 0px;  
    padding: 4px 8px;
padding-bottom:6px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: solid #FF4400 2px;
    background: #FF4400;
    border-radius: 0px 0px 0px 20px; 
    cursor: pointer;
    text-align: center;
    line-height: 1;
    z-index: 10;
} 

 

.font40 {
   
font-size:40px;
}  

.myFX {
 
    display: inline-grid;

    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-auto-flow: column;
    gap: 4px;
    padding: 5px;
padding-left:5px;
  padding-right:5px; 
   
    max-height: 110px;

    min-width: min-content;
    width: auto;

margin-left:5px;
margin-right:5px;
text-align:center;
border-radius:5px;

    
}

.labelfx
{

position:absolute;
 
top:0px;
 
color:#111;
font-weight:bold;

font-size:15px;
width:auto;
max-width:90px;
overflow:hidden;
height:17px;
margin-left:-15px;
height:auto;
text-shadow:  2px 2px 2px #eee;

}

.labelfx2
{

position:absolute;
 
top:0px;

color:#FF4400;
font-weight:bold;

font-size:18px;
width:auto;
margin-left:15px;
height:auto;

}
.fx {
    
    
    
text-align:center;
}

.fx-label {

  position: relative;
  top: -2px; 
  left: -8px;
  width: calc(100% + 8px);
  overflow:hidden;
  text-shadow:  2px 2px 2px #000000;
    
  
  border-radius:4px;
  font-size: 10px;
  color:#FFF;
  text-align: center;
  pointer-events: none; 
}

.btRemove
{   position:relative;
top:113px;
 left:-15px;
height:12px;
width:12px;
font-size:12px;
padding:1px 1px;
color:black;

font-weight:bold;
border:solid black 2px;
border-radius:5px;

}

.btRemove:hover
{ 
background:red;
}

.osc
{

position:absolute;
left:4px;
bottom:0;

margin-bottom:4px;
 
padding-left:4px;

}
.alignedH
{
  display: flex;

  gap: 8px; 
}

.XYarea
{
display:block; 
margin-top:8px;

border-radius:12px;
}

input[type="range"] {
  -webkit-appearance: none; 
  height: 8px; 
  background: #551500; 
  border-radius: 5px; 
  outline: none; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px; 
  height: 20px; 
  background: #ff4400; 
  border-radius: 20%; 
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 20px;
  background: #ff4400;
  border-radius:20%;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background: #551500;
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 20px;
  background: #ff4400;
  border-radius: 20%;
}

input[type="range"]::-ms-track {
  background:#551500;
}

 
select {
  appearance: none; 
  background-color: black; 
  color: #ff4400; 
  border: 1px solid #ff4400; 
  border-radius: 2px; 
 
  padding-left:3px;
  padding-right:3px;
 
}

 
select::after {
  content: "▼"; 
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4400; 
}

.select-wrapper {
  position: relative;
}

 

input[type="number"] {
  background-color: black; 
  color: #ff4400; 
  border: 1px solid #ff4400; 
  border-radius: 2px; 
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: auto; 
  background-color: black; 
  color: #ff4400; 
}

input[type="number"] {
  -moz-appearance: textfield; 
}

input[type="checkbox"] {
  appearance: none; 
  width: 20px; 
  height: 20px; 
  background-color: black; 
  border: 1px solid #ff4400; 
  border-radius: 4px; 
}

input[type="checkbox"]:checked {
  background-color: #ff4400; 
}

input[type="checkbox"]:checked::before {
  color: black; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:5px;
}

.select-wrapper {
  position: relative;
}

select {
  appearance: none; 
  background-color: black; 
  color: #ff4400; 
  border: 1px solid #ff4400; 
  border-radius: 2px; 

  padding-left:3px;
  padding-right:3px;
}

select::after {
  content: "▼"; 
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4400; 
}

input[type="text"] {
  color: #FF4400; 
  background-color: #000000; 
}

#extra1
{
	
	width:100%;
	max-height:80px;
	overflow-x:hidden;
	overflow-y:auto;
	
	
}

.mysample
{
	position:absolute;
	left:215px;
	bottom:38px;
	
	color:white;
	background: #ff4400;
	border-radius: 4px;
	padding-left:5px;
	padding-right:5px;	
	
}

.contspl {
  position: absolute;
  left: 215px;
  bottom: 2px;
  font-size: 16px;
  color: white;
  background: #888;
  border-radius: 6px;
  padding: 3px;
  border: solid #ff4400 2px;
}

.minispl {
  display: inline-block;     
  width: 20px;
  height: 20px;              
  text-align: center;
  line-height: 20px;         
  background: #444;
  margin: 0  1.5px;
  border-radius: 3px;        
}

.buttsample
{
 
	display: inline-block;
	color:white;
	background: #ff4400;
	border-radius: 4px;
	padding-left:5px;
	padding-right:5px;	
	  padding: 2px 5px;
  cursor: pointer;
  margin-left:10px;
	
}

.valu
{
 
	position:absolute;
	left:22px;
	bottom:1px;
	font-size:12px;
	color:white;
	background:rgba(0, 0, 0, 0.4);
	border-radius:0px 4px 0px 0px;
	padding-left:0px;
	padding-right:0px;	
	font-weight:normal;
}